body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.canvas-wrapper {
    border: 1px solid #000;
    margin: 25px auto;
    width: 500px;
    height: 500px;
    overflow: hidden;
}

.home-wrapper {
    height: 100vh;
}
